@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --body-background-clr: #121212;
  --main-bg-clr: #fff;
  --input-text-clr: #fff;
  --normal-text-clr: #fff;
  --input-bg-clr: #1a1a1a;
  --image-border: #fff;
  --hyperlink: #fff;
  --sorting-clr: #fff;
  --close-query-clr: #fff;
  --marvel-red-clr: hsl(358, 84%, 52%); /* #eb1e25 */
  --marvel-sun-clr: hsl(50, 84%, 52%);
  --marvel-sun-2-clr: hsl(40, 84%, 52%);
  --marvel-complement-clr: hsl(136, 84%, 52%);
  --base-dark-clr: #121212;
  --l-10-dark-clr: #1a1a1a;
  --l-15-dark-clr: #262626;
  --l-20-dark-clr: #333;
  --l-30-dark-clr: #4d4d4d;
  --l-40-dark-clr: #666;
  --l-50-dark-clr: #808080;
  --l-60-dark-clr: #999;
  --l-70-dark-clr: #b2b2b2;
  --l-80-dark-clr: #ccc;
  --l-85-dark-clr: #d9d9d9;
  --l-90-dark-clr: #e6e6e6;
  --l-100-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: var(--marvel-red-clr);
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  caret-color: var(--marvel-red-clr);
}

body {
  color: #fff;
  font-size: 16px;
  background-color: var(--body-background-clr);
  font-family: 'Roboto', Verdana, sans-serif;
  line-height: 1.5;

  /* In React assign below style rules to #root to allow Footer to stick to bottom */
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  color: var(--main-bg-clr);
  font-size: 1rem;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

img {
  width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul,
ol {
  list-style-position: inside;
}

ul li::marker {
  content: '▶ ';
}

/********** Typography **********/
h1 {
  margin-bottom: 8px;
  text-transform: capitalize;
}

h2 {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

/********** Layout **********/
.outer-container {
  width: 100%;
  display: flex;
  flex-direction: row; /* Row = width */
  justify-content: center;
}

.inner-container {
  flex: 0 1 1280px;
  display: flex;
  flex-direction: column; /* Column = height */
  align-items: center;
  margin-inline: 20px;
  justify-content: center;
}

.box-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.article-padding {
  padding-block: 2rem;
}

.hyperlink {
  color: var(--hyperlink);
  text-decoration: underline;
}

.hyperlink:visited {
  color: var(--hyperlink);
  text-decoration: none;
}

.hyperlink:hover {
  color: #666;
}

nav {
  background-color: #262626;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav .menu-top {
  flex: 0 1 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
  height: 50px;
}

.logo-header {
  width: 170.84px;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

nav .loginlogout {
  flex: 1 1 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

nav .favorites {
  flex: 1 1 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.default-link {
  text-decoration: none;
  color: #fff;
  position: relative;
  display: flex;
}

.default-link:hover,
.active-link:hover {
  color: #666;
  cursor: pointer;
}

/********** Footer Styles **********/
footer {
  background-color: #262626;
  color: #fff;
  padding-block: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-top: 1px solid #333333;
}

footer .inner-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .logo-footer {
  width: 60px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  display: none;
}

footer .data-provided {
  display: flex;
  flex-direction: center;
  align-items: center;
}

footer .copyright {
  display: none;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.25rem;
  width: fit-content;
}

footer .icon {
  font-size: 1.5rem;
}

footer a {
  color: #fff;
  transition: all 100ms ease-in;
  text-decoration: none;
}

footer a:link,
footer a:visited {
  color: #fff;
}

footer a:hover {
  color: #666;
}

footer .icon:hover {
  color: #666;
  cursor: pointer;
}

footer .social-media p {
  width: 100%;
  text-align: right;
}

footer .icon:active {
  color: var(--marvel-red-clr);
  transform: translateY(1px);
}

/********** 5. Media Queries **********/
@media screen and (min-width: 768px) {
  nav .logo-header {
    display: block;
  }

  nav .loginlogout {
    flex: 0 1 10%;
  }

  nav .favorites {
    flex: 0 1 10%;
  }

  nav .darklight {
    flex: 0 1 10%;
  }

  footer .copyright {
    display: block;
  }

  footer .logo-footer {
    display: block;
  }

  footer .data-provided > span {
    margin-left: 16px;
  }
}
